<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccclubs.admin.orm.mapper.CsMappingMapper">
	<!-- 开启基于redis的二级缓存，仅适用单表
    <cache type="com.ccclubs.framework.mybatis.RedisCache"/>-->
    
	<resultMap id="BaseResultMap" type="com.ccclubs.admin.model.CsMapping">
		<result column="csm_id" jdbcType="INTEGER" property="csmId" />
		<result column="csm_car" jdbcType="INTEGER" property="csmCar" />
		<result column="csm_manage" jdbcType="INTEGER" property="csmManage" />
	</resultMap>


	<insert id="insertBatchSelective" useGeneratedKeys="true" parameterType="java.util.List">
		insert into cs_mapping
		(
			csm_car,csm_manage
		)
		values
		<foreach collection="list" item="item" index="index" separator="," >
			(
			#{item.csmCar,jdbcType=INTEGER}, #{item.csmManage,jdbcType=INTEGER}
			)
		</foreach>
	</insert>
</mapper>