<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccclubs.admin.dao.CsStatisticsMapper">
	<!-- 开启基于redis的二级缓存，仅适用单表
    <cache type="com.ccclubs.framework.mybatis.RedisCache"/>-->
    
	<resultMap id="BaseResultMap" type="com.ccclubs.admin.model.CsStatistics">
		<result column="css_id" jdbcType="BIGINT" property="cssId" />
		<result column="css_time" jdbcType="TIMESTAMP" property="cssTime" />
		<result column="css_unit_time" jdbcType="BIGINT" property="cssUnitTime" />
		<result column="css_registered_num" jdbcType="TINYINT" property="cssRegisteredNum" />
		<result column="css_online_num" jdbcType="TINYINT" property="cssOnlineNum" />
		<result column="css_offline_num" jdbcType="TINYINT" property="cssOfflineNum" />
		<result column="css_run_num" jdbcType="TINYINT" property="cssRunNum" />
		<result column="css_charging_num" jdbcType="TINYINT" property="cssChargingNum" />
		<result column="css_total_mileage" jdbcType="FLOAT" property="cssTotalMileage" />
		<result column="css_total_charge" jdbcType="FLOAT" property="cssTotalCharge" />
		<result column="css_total_power_consumption" jdbcType="FLOAT" property="cssTotalPowerConsumption" />
		<result column="css_total_run_time" jdbcType="BIGINT" property="cssTotalRunTime" />
		<result column="css_increment_mileage" jdbcType="BIGINT" property="cssIncrementMileage" />
		<result column="css_access" jdbcType="TINYINT" property="cssAccess" />
		<result column="css_car_model" jdbcType="TINYINT" property="cssCarModel" />
	</resultMap>
	
	
</mapper>