<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccclubs.admin.orm.mapper.CsTboxBindHisMapper">
	<!-- 开启基于redis的二级缓存，仅适用单表
    <cache type="com.ccclubs.framework.mybatis.RedisCache"/>-->

	<resultMap id="BaseResultMap" type="com.ccclubs.admin.model.CsTboxBindHis">
		<result column="cstb_vehicle_id" jdbcType="BIGINT" property="cstbVehicleId" />
		<result column="cstb_machine_id" jdbcType="BIGINT" property="cstbMachineId" />
		<result column="cstb_vin" jdbcType="VARCHAR" property="cstbVin" />
		<result column="cstb_number" jdbcType="CHAR" property="cstbNumber" />
		<result column="cstb_te_no" jdbcType="VARCHAR" property="cstbTeNo" />
		<result column="cstb_start_time" jdbcType="TIMESTAMP" property="cstbStartTime" />
		<result column="cstb_end_time" jdbcType="TIMESTAMP" property="cstbEndTime" />
		<result column="cstb_status" jdbcType="TINYINT" property="cstbStatus" />
		<result column="cstb_add_time" jdbcType="TIMESTAMP" property="cstbAddTime" />
		<result column="cstb_mod_time" jdbcType="TIMESTAMP" property="cstbModTime" />
		<result column="cstb_bind_oper_id" jdbcType="BIGINT" property="cstbBindOperId" />
		<result column="cstb_unbind_oper_id" jdbcType="BIGINT" property="cstbUnbindOperId" />
		<result column="cstb_oper_type" jdbcType="TINYINT" property="cstbOperType" />
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List">
		cstb_vehicle_id,	cstb_machine_id,	cstb_vin,	cstb_number,	cstb_te_no,
		cstb_start_time,	cstb_end_time,	cstb_status,	cstb_add_time,	cstb_mod_time,
		cstb_bind_oper_id,	cstb_unbind_oper_id,	cstb_oper_type
	</sql>

	<insert id="insertBatchSelective" useGeneratedKeys="true" parameterType="java.util.List">
		insert into cs_tbox_bind_his(
		cstb_vehicle_id,	cstb_machine_id,	cstb_vin,	cstb_number,	cstb_te_no,
		cstb_start_time,	cstb_end_time,	cstb_status,	cstb_add_time,	cstb_mod_time,
		cstb_bind_oper_id,	cstb_unbind_oper_id,	cstb_oper_type
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.cstbVehicleId,jdbcType=BIGINT}, #{item.cstbMachineId,jdbcType=BIGINT},
			#{item.cstbVin,jdbcType=VARCHAR}, #{item.cstbNumber,jdbcType=VARCHAR},
			#{item.cstbTeNo,jdbcType=VARCHAR},
			#{item.cstbStartTime,jdbcType=TIMESTAMP},#{item.cstbEndTime,jdbcType=TIMESTAMP},
			#{item.cstbStatus,jdbcType=TINYINT}, #{item.cstbAddTime,jdbcType=TIMESTAMP},
			#{item.cstbModTime,jdbcType=TIMESTAMP},
			#{item.cstbBindOperId,jdbcType=BIGINT},#{item.cstbUnbindOperId,jdbcType=BIGINT},
			#{item.cstbOperType,jdbcType=TINYINT}
			)
		</foreach>
	</insert>

</mapper>