<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccclubs.admin.orm.mapper.CsVehicleMapper">
	<!-- 开启基于redis的二级缓存，仅适用单表
    <cache type="com.ccclubs.framework.mybatis.RedisCache"/>-->
    
	<resultMap id="BaseResultMap" type="com.ccclubs.admin.model.CsVehicle">
		<result column="csv_id" jdbcType="INTEGER" property="csvId" />
		<result column="csv_access" jdbcType="INTEGER" property="csvAccess" />
		<result column="csv_car_no" jdbcType="VARCHAR" property="csvCarNo" />
		<result column="csv_vin" jdbcType="VARCHAR" property="csvVin" />
		<result column="csv_engine_no" jdbcType="VARCHAR" property="csvEngineNo" />
		<result column="csv_certific" jdbcType="VARCHAR" property="csvCertific" />
		<result column="csv_model" jdbcType="INTEGER" property="csvModel" />
		<result column="csv_machine" jdbcType="INTEGER" property="csvMachine" />
		<result column="csv_color_code" jdbcType="TINYINT" property="csvColorCode" />
		<result column="csv_bataccu_code" jdbcType="VARCHAR" property="csvBataccuCode" />
		<result column="csv_prod_date" jdbcType="DATE" property="csvProdDate" />
		<result column="csv_landmark" jdbcType="VARCHAR" property="csvLandmark" />
		<result column="csv_domain" jdbcType="TINYINT" property="csvDomain" />
		<result column="csv_model_code_full" jdbcType="VARCHAR" property="csvModelCodeFull" />
		<result column="csv_model_code_simple" jdbcType="VARCHAR" property="csvModelCodeSimple" />
		<result column="csv_interior_color_code" jdbcType="VARCHAR" property="csvInteriorColorCode" />
		<result column="csv_status" jdbcType="TINYINT" property="csvStatus" />
		<result column="csv_add_time" jdbcType="TIMESTAMP" property="csvAddTime" />
		<result column="csv_update_time" jdbcType="TIMESTAMP" property="csvUpdateTime" />

		<result column="csv_host" jdbcType="INTEGER" property="csvHost" />
		<result column="csv_color" jdbcType="INTEGER" property="csvColor" />
		<result column="csv_machines" jdbcType="VARCHAR" property="csvMachines" />

	</resultMap>

	<update id="unbindTbox" parameterType="com.ccclubs.admin.model.CsVehicle">
		update cs_vehicle
		<set>
			csv_machine = NULL,
			<if test="csvUpdateTime != null">
				csv_update_time = #{csvUpdateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where csv_id = #{csvId,jdbcType=INTEGER}
	</update>



	<insert id="insertBatchSelective" useGeneratedKeys="true" parameterType="java.util.List" >
		insert into cs_vehicle(
		csv_access, csv_host, csv_car_no,csv_vin, csv_engine_no,
		csv_certific, csv_color, csv_model,csv_machine, csv_machines,csv_color_code,csv_bataccu_code,
		csv_prod_date,csv_landmark,csv_domain,csv_model_code_full,csv_model_code_simple,csv_interior_color_code,csv_status,csv_add_time,
		csv_update_time
		)
		values
		<foreach collection="list" item="item" index="index" separator="," >
			(
			#{item.csvAccess,jdbcType=INTEGER}, #{item.csvHost,jdbcType=INTEGER}, #{item.csvCarNo,jdbcType=VARCHAR}, #{item.csvVin,jdbcType=VARCHAR},
			#{item.csvEngineNo,jdbcType=VARCHAR}, #{item.csvCertific,jdbcType=VARCHAR},#{item.csvColor,jdbcType=TINYINT},
			#{item.csvModel,jdbcType=INTEGER}, #{item.csvMachine,jdbcType=INTEGER},
			#{item.csvMachines,jdbcType=INTEGER},#{item.csvColorCode,jdbcType=TINYINT},
			#{item.csvBataccuCode,jdbcType=VARCHAR}, #{item.csvProdDate,jdbcType=TIMESTAMP},
			#{item.csvLandmark,jdbcType=VARCHAR},#{item.csvDomain,jdbcType=TINYINT},
			#{item.csvModelCodeFull,jdbcType=VARCHAR},#{item.csvModelCodeSimple,jdbcType=VARCHAR},
			#{item.csvInteriorColorCode,jdbcType=VARCHAR},#{item.csvStatus,jdbcType=TINYINT},
			#{item.csvAddTime,jdbcType=TIMESTAMP},#{item.csvUpdateTime,jdbcType=TIMESTAMP}

			)
		</foreach>
	</insert>

	<update id="updateBatchByExampleSelective" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="" close="" separator=";">
			update cs_vehicle
			<set>
				<if test=" item.csvAccess!= null">
					csv_access=#{item.csvAccess,jdbcType=INTEGER},
				</if>

				<if test=" item.csvHost!= null">
					csv_host=#{item.csvHost,jdbcType=INTEGER},
				</if>

				<if test=" item.csvCarNo!= null">
					csv_car_no=#{item.csvCarNo,jdbcType=VARCHAR},
				</if>

				<if test=" item.csvEngineNo!= null">
					csv_engine_no=#{item.csvEngineNo,jdbcType=VARCHAR},
				</if>

				<if test=" item.csvCertific!= null">
					csv_certific=#{item.csvCertific,jdbcType=VARCHAR},
				</if>

				<if test=" item.csvColor!= null">
				 	csv_color=#{item.csvColor,jdbcType=TINYINT},
				</if>

				<if test=" item.csvModel!= null">
					csv_model=#{item.csvModel,jdbcType=INTEGER},
				</if>

				<if test=" item.csvMachine!= null">
					csv_machine=#{item.csvMachine,jdbcType=INTEGER},
				</if>

				<if test=" item.csvMachines!= null">
					csv_machines=#{item.csvMachines,jdbcType=INTEGER},
				</if>

				<if test=" item.csvColorCode!= null">
					csv_color_code=#{item.csvColorCode,jdbcType=TINYINT},
				</if>

				<if test=" item.csvBataccuCode!= null">
					csv_bataccu_code=#{item.csvBataccuCode,jdbcType=VARCHAR},
				</if>

				<if test=" item.csvProdDate!= null">
				csv_prod_date=#{item.csvProdDate,jdbcType=TIMESTAMP},
				</if>

				<if test=" item.csvLandmark!= null">
				csv_landmark=#{item.csvLandmark,jdbcType=VARCHAR},
				</if>

				<if test=" item.csvDomain!= null">
				csv_domain=#{item.csvDomain,jdbcType=TINYINT},
				</if>

				<if test=" item.csvModelCodeFull!= null">
				csv_model_code_full=#{item.csvModelCodeFull,jdbcType=VARCHAR},
				</if>

				<if test=" item.csvModelCodeSimple!= null">
				csv_model_code_simple=#{item.csvModelCodeSimple,jdbcType=VARCHAR},
				</if>

				<if test=" item.csvInteriorColorCode!= null">
				csv_interior_color_code=#{item.csvInteriorColorCode,jdbcType=VARCHAR},
				</if>

				<if test=" item.csvStatus!= null">
					csv_status=#{item.csvStatus,jdbcType=TINYINT},
				</if>

				<if test=" item.csvUpdateTime!= null">
					csv_update_time=#{item.csvUpdateTime,jdbcType=TIMESTAMP}
				</if>
			</set>
			where csv_vin=#{item.csvVin,jdbcType=VARCHAR}
		</foreach>
	</update>
</mapper>