<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccclubs.admin.orm.mapper.SrvGroupMapper">
	<!-- 开启基于redis的二级缓存，仅适用单表
    <cache type="com.ccclubs.framework.mybatis.RedisCache"/>-->
    
	<resultMap id="BaseResultMap" type="com.ccclubs.admin.model.SrvGroup">
		<result column="sg_id" jdbcType="INTEGER" property="sgId" />
		<result column="sg_name" jdbcType="VARCHAR" property="sgName" />
		<result column="sg_parent" jdbcType="BIGINT" property="sgParent" />
		<result column="sg_family" jdbcType="VARCHAR" property="sgFamily" />
		<result column="sg_user" jdbcType="BIGINT" property="sgUser" />
		<result column="sg_flag" jdbcType="VARCHAR" property="sgFlag" />
		<result column="sg_status" jdbcType="SMALLINT" property="sgStatus" />
	</resultMap>
	
	
</mapper>