<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccclubs.pub.orm.mapper.CsTboxBindHisMapper">
	<!-- 开启基于redis的二级缓存，仅适用单表
    <cache type="com.ccclubs.framework.mybatis.RedisCache"/>-->
    
	<resultMap id="BaseResultMap" type="com.ccclubs.pub.orm.model.CsTboxBindHis">
		<result column="cstb_vehicle_id" jdbcType="BIGINT" property="cstbVehicleId" />
		<result column="cstb_machine_id" jdbcType="BIGINT" property="cstbMachineId" />
		<result column="cstb_vin" jdbcType="VARCHAR" property="cstbVin" />
		<result column="cstb_number" jdbcType="CHAR" property="cstbNumber" />
		<result column="cstb_te_no" jdbcType="VARCHAR" property="cstbTeNo" />
		<result column="cstb_start_time" jdbcType="TIMESTAMP" property="cstbStartTime" />
		<result column="cstb_end_time" jdbcType="TIMESTAMP" property="cstbEndTime" />
		<result column="cstb_status" jdbcType="TINYINT" property="cstbStatus" />
		<result column="cstb_add_time" jdbcType="TIMESTAMP" property="cstbAddTime" />
		<result column="cstb_mod_time" jdbcType="TIMESTAMP" property="cstbModTime" />
		<result column="cstb_bind_oper_id" jdbcType="BIGINT" property="cstbBindOperId" />
		<result column="cstb_unbind_oper_id" jdbcType="BIGINT" property="cstbUnbindOperId" />
		<result column="cstb_oper_type" jdbcType="TINYINT" property="cstbOperType" />
	</resultMap>

	<!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause">
		<!--
		  WARNING - @mbg.generated
		  This element is automatically generated by MyBatis Generator, do not modify.
		-->
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

<sql id="Base_Column_List">
   	cstb_vehicle_id,	cstb_machine_id,	cstb_vin,	cstb_number,	cstb_te_no,
    cstb_start_time,	cstb_end_time,	cstb_status,	cstb_add_time,	cstb_mod_time,
    cstb_bind_oper_id,	cstb_unbind_oper_id,	cstb_oper_type
</sql>


	<select id="selectByExample" parameterType="com.ccclubs.pub.orm.model.CsTboxBindHisExample" resultMap="BaseResultMap">
		<!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from cs_tbox_bind_his
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>




	<insert id="insertSelective" parameterType="com.ccclubs.pub.orm.model.CsTboxBindHis">
		<!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
		insert into cs_tbox_bind_his
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="cstbId != null">
				cstb_id,
			</if>

			<if test="cstbVehicleId != null">
				cstb_vehicle_id,
			</if>
			<if test="cstbMachineId != null">
				cstb_machine_id,
			</if>
			<if test="cstbVin != null">
				cstb_vin,
			</if>
			<if test="cstbNumber != null">
				cstb_number,
			</if>
			<if test="cstbTeNo != null">
				cstb_te_no,
			</if>
			<if test="cstbStartTime != null">
				cstb_start_time,
			</if>
			<if test="cstbEndTime != null">
				cstb_end_time,
			</if>

			<if test="cstbStatus != null">
				cstb_status,
			</if>
			<if test="cstbAddTime != null">
				cstb_add_time,
			</if>
			<if test="cstbModTime != null">
				cstb_mod_time,
			</if>

			<if test="cstbBindOperId != null">
				cstb_bind_oper_id,
			</if>
			<if test="cstbUnbindOperId != null">
				cstb_unbind_oper_id,
			</if>
			<if test="cstbOperType != null">
				cstb_oper_type,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cstbId != null">
				#{cstbId,jdbcType=BIGINT},
			</if>
			<if test="cstbVehicleId != null">
				#{cstbVehicleId,jdbcType=BIGINT},
			</if>
			<if test="cstbMachineId != null">
				#{cstbMachineId,jdbcType=BIGINT},
			</if>
			<if test="cstbVin != null">
				#{cstbVin,jdbcType=VARCHAR},
			</if>
			<if test="cstbNumber != null">
				#{cstbNumber,jdbcType=VARCHAR},
			</if>
			<if test="cstbTeNo != null">
				#{cstbTeNo,jdbcType=VARCHAR},
			</if>
			<if test="cstbStartTime != null">
				#{cstbStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cstbEndTime != null">
				#{cstbEndTime,jdbcType=TIMESTAMP},
			</if>

			<if test="cstbStatus != null">
				#{cstbStatus,jdbcType=TINYINT },
			</if>

			<if test="cstbAddTime != null">
				#{cstbAddTime,jdbcType=TIMESTAMP},
			</if>

			<if test="cstbModTime != null">
				#{cstbModTime,jdbcType=TIMESTAMP},
			</if>

			<if test="cstbBindOperId != null">
				#{cstbBindOperId,jdbcType=BIGINT},
			</if>
			<if test="cstbUnbindOperId != null">
				#{cstbUnbindOperId,jdbcType=BIGINT},
			</if>
			<if test="cstbOperType != null">
				#{cstbOperType,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>



	<insert id="insert" parameterType="com.ccclubs.pub.orm.model.CsTboxBindHis">

		insert into cs_tbox_bind_his (
			cstb_vehicle_id,	cstb_machine_id,	cstb_vin,	cstb_number,	cstb_te_no,
			cstb_start_time,	cstb_end_time,	cstb_status,	cstb_add_time,	cstb_mod_time,
			cstb_bind_oper_id,	cstb_unbind_oper_id,	cstb_oper_type
		)
		values (
			#{cstbVehicleId,jdbcType=BIGINT}, #{cstbMachineId,jdbcType=BIGINT},
			#{cstbVin,jdbcType=VARCHAR}, #{cstbNumber,jdbcType=VARCHAR},
			#{cstbTeNo,jdbcType=VARCHAR},
			#{cstbStartTime,jdbcType=TIMESTAMP},#{cstbEndTime,jdbcType=TIMESTAMP},
			#{cstbStatus,jdbcType=TINYINT}, #{cstbAddTime,jdbcType=TIMESTAMP},
			#{cstbModTime,jdbcType=TIMESTAMP},
			#{cstbBindOperId,jdbcType=BIGINT},#{cstbUnbindOperId,jdbcType=BIGINT},
			#{cstbOperType,jdbcType=TINYINT}
		)
	</insert>


	<update id="updateByExampleSelective" parameterType="map">
		<!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
		update cs_tbox_bind_his
		<set>
			<if test="record.cstbEndTime != null">
				cstb_end_time = #{record.cstbEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.cstbStatus != null">
				cstb_status = #{record.cstbStatus,jdbcType=TINYINT},
			</if>
			<if test="record.cstbModTime != null">
				cstb_mod_time = #{record.cstbModTime,jdbcType=TIMESTAMP},
			</if>

			<if test="record.cstbUnbindOperId != null">
				cstb_unbind_oper_id = #{record.cstbUnbindOperId,jdbcType=BIGINT},
			</if>

		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	
</mapper>