<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccclubs.pub.orm.mapper.SrvHostMapper">
  <resultMap id="BaseResultMap" type="com.ccclubs.pub.orm.model.SrvHost">
    <id column="sh_id" jdbcType="INTEGER" property="shId" />
    <result column="sh_name" jdbcType="VARCHAR" property="shName" />
    <result column="sh_key" jdbcType="VARCHAR" property="shKey" />
    <result column="sh_topic" jdbcType="VARCHAR" property="shTopic" />
    <result column="sh_transform_remote" jdbcType="CHAR" property="shTransformRemote" />
    <result column="sh_transform_status" jdbcType="CHAR" property="shTransformStatus" />
    <result column="sh_transform_can" jdbcType="CHAR" property="shTransformCan" />
    <result column="sh_add_time" jdbcType="TIMESTAMP" property="shAddTime" />
    <result column="sh_upt_time" jdbcType="TIMESTAMP" property="shUptTime" />
    <result column="sh_status" jdbcType="TINYINT" property="shStatus" />
    <result column="sh_appid" jdbcType="VARCHAR" property="shAppid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sh_id, sh_name, sh_key, sh_topic, sh_transform_remote, sh_transform_status, sh_transform_can, 
    sh_add_time, sh_upt_time, sh_status, sh_appid
  </sql>
  <select id="selectByExample" parameterType="com.ccclubs.pub.orm.model.SrvHostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from srv_host
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from srv_host
    where sh_id = #{shId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from srv_host
    where sh_id = #{shId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ccclubs.pub.orm.model.SrvHostExample">
    delete from srv_host
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ccclubs.pub.orm.model.SrvHost">
    insert into srv_host (sh_id, sh_name, sh_key, 
      sh_topic, sh_transform_remote, sh_transform_status, 
      sh_transform_can, sh_add_time, sh_upt_time, 
      sh_status, sh_appid)
    values (#{shId,jdbcType=INTEGER}, #{shName,jdbcType=VARCHAR}, #{shKey,jdbcType=VARCHAR}, 
      #{shTopic,jdbcType=VARCHAR}, #{shTransformRemote,jdbcType=CHAR}, #{shTransformStatus,jdbcType=CHAR}, 
      #{shTransformCan,jdbcType=CHAR}, #{shAddTime,jdbcType=TIMESTAMP}, #{shUptTime,jdbcType=TIMESTAMP}, 
      #{shStatus,jdbcType=TINYINT}, #{shAppid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ccclubs.pub.orm.model.SrvHost">
    insert into srv_host
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shId != null">
        sh_id,
      </if>
      <if test="shName != null">
        sh_name,
      </if>
      <if test="shKey != null">
        sh_key,
      </if>
      <if test="shTopic != null">
        sh_topic,
      </if>
      <if test="shTransformRemote != null">
        sh_transform_remote,
      </if>
      <if test="shTransformStatus != null">
        sh_transform_status,
      </if>
      <if test="shTransformCan != null">
        sh_transform_can,
      </if>
      <if test="shAddTime != null">
        sh_add_time,
      </if>
      <if test="shUptTime != null">
        sh_upt_time,
      </if>
      <if test="shStatus != null">
        sh_status,
      </if>
      <if test="shAppid != null">
        sh_appid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shId != null">
        #{shId,jdbcType=INTEGER},
      </if>
      <if test="shName != null">
        #{shName,jdbcType=VARCHAR},
      </if>
      <if test="shKey != null">
        #{shKey,jdbcType=VARCHAR},
      </if>
      <if test="shTopic != null">
        #{shTopic,jdbcType=VARCHAR},
      </if>
      <if test="shTransformRemote != null">
        #{shTransformRemote,jdbcType=CHAR},
      </if>
      <if test="shTransformStatus != null">
        #{shTransformStatus,jdbcType=CHAR},
      </if>
      <if test="shTransformCan != null">
        #{shTransformCan,jdbcType=CHAR},
      </if>
      <if test="shAddTime != null">
        #{shAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shUptTime != null">
        #{shUptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shStatus != null">
        #{shStatus,jdbcType=TINYINT},
      </if>
      <if test="shAppid != null">
        #{shAppid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ccclubs.pub.orm.model.SrvHostExample" resultType="java.lang.Long">
    select count(*) from srv_host
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update srv_host
    <set>
      <if test="record.shId != null">
        sh_id = #{record.shId,jdbcType=INTEGER},
      </if>
      <if test="record.shName != null">
        sh_name = #{record.shName,jdbcType=VARCHAR},
      </if>
      <if test="record.shKey != null">
        sh_key = #{record.shKey,jdbcType=VARCHAR},
      </if>
      <if test="record.shTopic != null">
        sh_topic = #{record.shTopic,jdbcType=VARCHAR},
      </if>
      <if test="record.shTransformRemote != null">
        sh_transform_remote = #{record.shTransformRemote,jdbcType=CHAR},
      </if>
      <if test="record.shTransformStatus != null">
        sh_transform_status = #{record.shTransformStatus,jdbcType=CHAR},
      </if>
      <if test="record.shTransformCan != null">
        sh_transform_can = #{record.shTransformCan,jdbcType=CHAR},
      </if>
      <if test="record.shAddTime != null">
        sh_add_time = #{record.shAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shUptTime != null">
        sh_upt_time = #{record.shUptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shStatus != null">
        sh_status = #{record.shStatus,jdbcType=TINYINT},
      </if>
      <if test="record.shAppid != null">
        sh_appid = #{record.shAppid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update srv_host
    set sh_id = #{record.shId,jdbcType=INTEGER},
      sh_name = #{record.shName,jdbcType=VARCHAR},
      sh_key = #{record.shKey,jdbcType=VARCHAR},
      sh_topic = #{record.shTopic,jdbcType=VARCHAR},
      sh_transform_remote = #{record.shTransformRemote,jdbcType=CHAR},
      sh_transform_status = #{record.shTransformStatus,jdbcType=CHAR},
      sh_transform_can = #{record.shTransformCan,jdbcType=CHAR},
      sh_add_time = #{record.shAddTime,jdbcType=TIMESTAMP},
      sh_upt_time = #{record.shUptTime,jdbcType=TIMESTAMP},
      sh_status = #{record.shStatus,jdbcType=TINYINT},
      sh_appid = #{record.shAppid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccclubs.pub.orm.model.SrvHost">
    update srv_host
    <set>
      <if test="shName != null">
        sh_name = #{shName,jdbcType=VARCHAR},
      </if>
      <if test="shKey != null">
        sh_key = #{shKey,jdbcType=VARCHAR},
      </if>
      <if test="shTopic != null">
        sh_topic = #{shTopic,jdbcType=VARCHAR},
      </if>
      <if test="shTransformRemote != null">
        sh_transform_remote = #{shTransformRemote,jdbcType=CHAR},
      </if>
      <if test="shTransformStatus != null">
        sh_transform_status = #{shTransformStatus,jdbcType=CHAR},
      </if>
      <if test="shTransformCan != null">
        sh_transform_can = #{shTransformCan,jdbcType=CHAR},
      </if>
      <if test="shAddTime != null">
        sh_add_time = #{shAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shUptTime != null">
        sh_upt_time = #{shUptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shStatus != null">
        sh_status = #{shStatus,jdbcType=TINYINT},
      </if>
      <if test="shAppid != null">
        sh_appid = #{shAppid,jdbcType=VARCHAR},
      </if>
    </set>
    where sh_id = #{shId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccclubs.pub.orm.model.SrvHost">
    update srv_host
    set sh_name = #{shName,jdbcType=VARCHAR},
      sh_key = #{shKey,jdbcType=VARCHAR},
      sh_topic = #{shTopic,jdbcType=VARCHAR},
      sh_transform_remote = #{shTransformRemote,jdbcType=CHAR},
      sh_transform_status = #{shTransformStatus,jdbcType=CHAR},
      sh_transform_can = #{shTransformCan,jdbcType=CHAR},
      sh_add_time = #{shAddTime,jdbcType=TIMESTAMP},
      sh_upt_time = #{shUptTime,jdbcType=TIMESTAMP},
      sh_status = #{shStatus,jdbcType=TINYINT},
      sh_appid = #{shAppid,jdbcType=VARCHAR}
    where sh_id = #{shId,jdbcType=INTEGER}
  </update>
</mapper>